UniversityRecordSystem/WebContent/wsdl/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Services" xmlns:intf="http://Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="replaceIstrucForCourse">
    <complexType/>
   </element>
   <element name="replaceIstrucForCourseResponse">
    <complexType>
     <sequence>
      <element name="replaceIstrucForCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchInstructorDetails">
    <complexType/>
   </element>
   <element name="searchInstructorDetailsResponse">
    <complexType>
     <sequence>
      <element name="searchInstructorDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeIstrucFromCourse">
    <complexType/>
   </element>
   <element name="removeIstrucFromCourseResponse">
    <complexType>
     <sequence>
      <element name="removeIstrucFromCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentDetails">
    <complexType/>
   </element>
   <element name="getStudentDetailsResponse">
    <complexType>
     <sequence>
      <element name="getStudentDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createStudent">
    <complexType/>
   </element>
   <element name="createStudentResponse">
    <complexType>
     <sequence>
      <element name="createStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInstructorDetails">
    <complexType/>
   </element>
   <element name="getInstructorDetailsResponse">
    <complexType>
     <sequence>
      <element name="getInstructorDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCourseDetails">
    <complexType/>
   </element>
   <element name="getCourseDetailsResponse">
    <complexType>
     <sequence>
      <element name="getCourseDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeStudent">
    <complexType/>
   </element>
   <element name="removeStudentResponse">
    <complexType>
     <sequence>
      <element name="removeStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createInstructor">
    <complexType/>
   </element>
   <element name="createInstructorResponse">
    <complexType>
     <sequence>
      <element name="createInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeInstructor">
    <complexType/>
   </element>
   <element name="removeInstructorResponse">
    <complexType>
     <sequence>
      <element name="removeInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignInstructor">
    <complexType/>
   </element>
   <element name="assignInstructorResponse">
    <complexType>
     <sequence>
      <element name="assignInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayAllStudents">
    <complexType/>
   </element>
   <element name="displayAllStudentsResponse">
    <complexType>
     <sequence>
      <element name="displayAllStudentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayAllCourses">
    <complexType/>
   </element>
   <element name="displayAllCoursesResponse">
    <complexType>
     <sequence>
      <element name="displayAllCoursesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enrollStudent">
    <complexType/>
   </element>
   <element name="enrollStudentResponse">
    <complexType>
     <sequence>
      <element name="enrollStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unenrollStudent">
    <complexType/>
   </element>
   <element name="unenrollStudentResponse">
    <complexType>
     <sequence>
      <element name="unenrollStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editPersonDetails">
    <complexType/>
   </element>
   <element name="editPersonDetailsResponse">
    <complexType>
     <sequence>
      <element name="editPersonDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editCourseDetails">
    <complexType/>
   </element>
   <element name="editCourseDetailsResponse">
    <complexType>
     <sequence>
      <element name="editCourseDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchStudentDetails">
    <complexType/>
   </element>
   <element name="searchStudentDetailsResponse">
    <complexType>
     <sequence>
      <element name="searchStudentDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCourseDetails">
    <complexType/>
   </element>
   <element name="searchCourseDetailsResponse">
    <complexType>
     <sequence>
      <element name="searchCourseDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCourse">
    <complexType/>
   </element>
   <element name="removeCourseResponse">
    <complexType>
     <sequence>
      <element name="removeCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCourse">
    <complexType/>
   </element>
   <element name="createCourseResponse">
    <complexType>
     <sequence>
      <element name="createCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCourseDetailsResponse">

      <wsdl:part element="impl:getCourseDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentDetailsResponse">

      <wsdl:part element="impl:getStudentDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createInstructorRequest">

      <wsdl:part element="impl:createInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllStudentsRequest">

      <wsdl:part element="impl:displayAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createInstructorResponse">

      <wsdl:part element="impl:createInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeIstrucFromCourseRequest">

      <wsdl:part element="impl:removeIstrucFromCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeStudentRequest">

      <wsdl:part element="impl:removeStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCourseDetailsRequest">

      <wsdl:part element="impl:editCourseDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchStudentDetailsResponse">

      <wsdl:part element="impl:searchStudentDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchInstructorDetailsResponse">

      <wsdl:part element="impl:searchInstructorDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchStudentDetailsRequest">

      <wsdl:part element="impl:searchStudentDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editCourseDetailsResponse">

      <wsdl:part element="impl:editCourseDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCourseDetailsRequest">

      <wsdl:part element="impl:searchCourseDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createStudentResponse">

      <wsdl:part element="impl:createStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unenrollStudentResponse">

      <wsdl:part element="impl:unenrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllCoursesResponse">

      <wsdl:part element="impl:displayAllCoursesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentResponse">

      <wsdl:part element="impl:enrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editPersonDetailsRequest">

      <wsdl:part element="impl:editPersonDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unenrollStudentRequest">

      <wsdl:part element="impl:unenrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCourseResponse">

      <wsdl:part element="impl:removeCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeInstructorRequest">

      <wsdl:part element="impl:removeInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllStudentsResponse">

      <wsdl:part element="impl:displayAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayAllCoursesRequest">

      <wsdl:part element="impl:displayAllCourses" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstructorDetailsResponse">

      <wsdl:part element="impl:getInstructorDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeInstructorResponse">

      <wsdl:part element="impl:removeInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCourseRequest">

      <wsdl:part element="impl:removeCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentRequest">

      <wsdl:part element="impl:enrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCourseDetailsRequest">

      <wsdl:part element="impl:getCourseDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeIstrucFromCourseResponse">

      <wsdl:part element="impl:removeIstrucFromCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorResponse">

      <wsdl:part element="impl:assignInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentDetailsRequest">

      <wsdl:part element="impl:getStudentDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="replaceIstrucForCourseResponse">

      <wsdl:part element="impl:replaceIstrucForCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorRequest">

      <wsdl:part element="impl:assignInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeStudentResponse">

      <wsdl:part element="impl:removeStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstructorDetailsRequest">

      <wsdl:part element="impl:getInstructorDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="replaceIstrucForCourseRequest">

      <wsdl:part element="impl:replaceIstrucForCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseRequest">

      <wsdl:part element="impl:createCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCourseResponse">

      <wsdl:part element="impl:createCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editPersonDetailsResponse">

      <wsdl:part element="impl:editPersonDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createStudentRequest">

      <wsdl:part element="impl:createStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCourseDetailsResponse">

      <wsdl:part element="impl:searchCourseDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchInstructorDetailsRequest">

      <wsdl:part element="impl:searchInstructorDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentService">

      <wsdl:operation name="replaceIstrucForCourse">

         <wsdl:input message="impl:replaceIstrucForCourseRequest" name="replaceIstrucForCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:replaceIstrucForCourseResponse" name="replaceIstrucForCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchInstructorDetails">

         <wsdl:input message="impl:searchInstructorDetailsRequest" name="searchInstructorDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchInstructorDetailsResponse" name="searchInstructorDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeIstrucFromCourse">

         <wsdl:input message="impl:removeIstrucFromCourseRequest" name="removeIstrucFromCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeIstrucFromCourseResponse" name="removeIstrucFromCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentDetails">

         <wsdl:input message="impl:getStudentDetailsRequest" name="getStudentDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentDetailsResponse" name="getStudentDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdl:input message="impl:createStudentRequest" name="createStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createStudentResponse" name="createStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInstructorDetails">

         <wsdl:input message="impl:getInstructorDetailsRequest" name="getInstructorDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInstructorDetailsResponse" name="getInstructorDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseDetails">

         <wsdl:input message="impl:getCourseDetailsRequest" name="getCourseDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCourseDetailsResponse" name="getCourseDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeStudent">

         <wsdl:input message="impl:removeStudentRequest" name="removeStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeStudentResponse" name="removeStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createInstructor">

         <wsdl:input message="impl:createInstructorRequest" name="createInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:createInstructorResponse" name="createInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeInstructor">

         <wsdl:input message="impl:removeInstructorRequest" name="removeInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeInstructorResponse" name="removeInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdl:input message="impl:assignInstructorRequest" name="assignInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignInstructorResponse" name="assignInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllStudents">

         <wsdl:input message="impl:displayAllStudentsRequest" name="displayAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayAllStudentsResponse" name="displayAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllCourses">

         <wsdl:input message="impl:displayAllCoursesRequest" name="displayAllCoursesRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayAllCoursesResponse" name="displayAllCoursesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdl:input message="impl:enrollStudentRequest" name="enrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:enrollStudentResponse" name="enrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unenrollStudent">

         <wsdl:input message="impl:unenrollStudentRequest" name="unenrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:unenrollStudentResponse" name="unenrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editPersonDetails">

         <wsdl:input message="impl:editPersonDetailsRequest" name="editPersonDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:editPersonDetailsResponse" name="editPersonDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCourseDetails">

         <wsdl:input message="impl:editCourseDetailsRequest" name="editCourseDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:editCourseDetailsResponse" name="editCourseDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchStudentDetails">

         <wsdl:input message="impl:searchStudentDetailsRequest" name="searchStudentDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchStudentDetailsResponse" name="searchStudentDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCourseDetails">

         <wsdl:input message="impl:searchCourseDetailsRequest" name="searchCourseDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCourseDetailsResponse" name="searchCourseDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCourse">

         <wsdl:input message="impl:removeCourseRequest" name="removeCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeCourseResponse" name="removeCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdl:input message="impl:createCourseRequest" name="createCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCourseResponse" name="createCourseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceSoapBinding" type="impl:StudentService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="replaceIstrucForCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="replaceIstrucForCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="replaceIstrucForCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchInstructorDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchInstructorDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchInstructorDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeIstrucFromCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeIstrucFromCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeIstrucFromCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInstructorDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstructorDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInstructorDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCourseDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCourseDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCourseDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayAllCourses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayAllCoursesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayAllCoursesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unenrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unenrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unenrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editPersonDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editPersonDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editPersonDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editCourseDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editCourseDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editCourseDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchStudentDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchStudentDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchStudentDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchCourseDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCourseDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCourseDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceService">

      <wsdl:port binding="impl:StudentServiceSoapBinding" name="StudentService">

         <wsdlsoap:address location="http://localhost:8081/UniversityRecordSystem/services/StudentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
